[submodule "libextls"]
	path = libextls
	url = http://france.paratools.com:12345/cea/libextls.git
[submodule "priv-plugin"]
	path = priv-plugin
	url = http://france.paratools.com:12345/cea/priv-plugin.git
