[submodule "libextls"]
	path = libextls
	url = helios.france.paratools.com:/media/raid/gitroot/libextls.git
[submodule "priv-plugin"]
	path = priv-plugin
	url = helios.france.paratools.com:/media/raid/gitroot/priv-plugin.git
